body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  max-width: 1170px;
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */
  grid-template-columns: 19% 27% 27% 27%;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas:
      ". header header header"
      "aside teaser teaser teaser"
      "aside feature feature feature";
}

header {
  grid-area: header;
  padding-top: 8px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  background-color: lightyellow;
}

.aside {
  grid-area: aside;
  /* background-color: red; */
  justify-self: center;
  width: 80%;
}

.teaser {
  grid-area: teaser;
  margin-top: 15px;
  background-image: url("../img/jonatan-pie-216311.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: green; */
}

.feature {
  grid-area: feature;
  /* background-color: grey; */
}

.logo {
  background-image: url("../img/U_360x360px.jpg");
  background-size: contain;
  float: left;
  width: 80px;
  height: 80px;
}

.header {
  float: right;
  text-transform: uppercase;
  color: #2d3c40;
}

.color_ref {
  color: ddd;
  font-size: 150%;
  text-align: center;
}

/* We want the height equal the width for the in box in pure css. I needed
   to Google a bit and found a neat solution:
   http://www.mademyday.de/css-height-equals-width-with-pure-css.html */

.color_1 {
  background-color: #02b3e4;
  position: relative;
  width: 40%;
  left: 30%;
}

.color_1:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.color_2 {
  background-color: #2d3c49;
  position: relative;
  width: 40%;
  left: 30%;
}

.color_2:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.color_3 {
  background-color: #7d97ad;
  position: relative;
  width: 40%;
  left: 30%;
}

.color_3:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.feature h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.feature_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-template-areas:
      "feature_1 feature_2 feature_3";
  text-align: center;
  word-break: break-all;
}

.feature_1 {
  grid-area: feature_1;
}

.feature_2 {
  grid-area: feature_2;
}

.feature_3 {
  grid-area: feature_3;
}

.feature img {
  width: 100%;
}
