/*****************************************************************************
 Basic Setting initializing the page
 ****************************************************************************/

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  color: #7d97ad;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

 /****************************************************************************
  Setting up a CSS grid layout
  ***************************************************************************/

.container {
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  display: grid;
  grid-template-columns: 19% 27% 27% 27%;
  grid-template-rows: 120px 1fr 1fr;
  grid-template-areas:
      ". header header header"
      "aside teaser teaser teaser"
      "aside feature feature feature";
}

header {
  grid-area: header;
  padding-top: 25px;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
}

.aside {
  grid-area: aside;
  justify-self: center;
  width: 80%;
}

.teaser {
  grid-area: teaser;
  margin-top: 15px;
  background-image: url("../img/jonatan-pie-216311.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.feature {
  grid-area: feature;
}

/* Details: the header part */

.logo {
  background-image: url("../img/U_360x360px.jpg");
  background-size: contain;
  float: left;
  width: 60px;
  height: 60px;
}

.header {
  float: right;
  text-transform: uppercase;
  color: #7d97ad;
  font-weight: 200;
}

.header h1 {
  font-size: 3em;
  font-weight: 200;
}

.header p {
  font-size: 1.2em;
  text-align: right;
  margin-top: 0.3em;
}

/* The teaser part */

.teaser_hover {
  background: #eee;
  opacity: 0.5;
  position: relative;
  height: 25%;
  top: 72.5%;
  display: none;
  text-align: center;
  padding-top: 2.5%;
}

.teaser_hover a {
  text-decoration: none;
  color: #111111;
}

.teaser:hover .teaser_hover {
  display: block;
}

/* The part aside */

.color_ref {
  color: ddd;
  font-size: 120%;
  text-align: center;
}

/* We want the height equal the width for the in box in pure css. I needed
   to Google a bit and found a neat solution:
   http://www.mademyday.de/css-height-equals-width-with-pure-css.html */

.color_1 {
  background-color: #02b3e4;
  position: relative;
  width: 40%;
  left: 30%;
}

.color_1::before, .color_2::before, .color_3::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.color_2 {
  background-color: #2d3c49;
  position: relative;
  width: 40%;
  left: 30%;
}

.color_3 {
  background-color: #7d97ad;
  position: relative;
  width: 40%;
  left: 30%;
}

/* The feature part */

.feature h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  font-size: 2.25em;
  font-weight: 300;
}

.feature_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-template-areas:
      "feature_1 feature_2 feature_3";
  text-align: center;
  word-break: break-all;
  color: #2d3c49;
}

.feature_container h3 {
  font-size: 3vw;
  font-weight: 400;
  text-transform: uppercase;
}

.feature_container a {
  font-size: 1.2vw;
  color: #2d3c49;
  text-decoration: none;
}

.feature_1 {
  grid-area: feature_1;
  position: relative;
}

.feature_2 {
  grid-area: feature_2;
}

.feature_3 {
  grid-area: feature_3;
}

.feature img {
  width: 100%;
}

.unsplash_hover:hover .unsplash_text {
  height: 35%;
  display: block;
}

.unsplash_hover {
  position: relative;
}

.unsplash_text {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: #eee;
  opacity: 0.8;
  padding-top: 2.5%;
  display: none;
}

.unsplash_text a {
  color: #111111;
  font-size: 1em;
}
